In [2]:
import pandas as pd
import numpy as np
import datetime as datetime

Done importing

In [3]:
prices_df = pd.read_excel('USO_Historical_Data_30_Minute.xlsx', sheet_name=None, index_col=False)
prices_df

{'Jan 2012':                   Time Interval   Close  Net Chg      Open     High     Low  \
 0                       Summary  267.04   -37.84  313.9200  338.400  232.16
 1     03JAN2012_00:00:00.000000     NaN      NaN       NaN      NaN     NaN
 2                 09:30 - 10:00  315.84    10.96  313.9200  316.560  313.92
 3                 10:00 - 10:30  316.24     0.40  315.8400  316.880  315.68
 4                 10:30 - 11:00  315.76    -0.48  316.3200  317.040  315.52
 ...                         ...     ...      ...       ...      ...     ...
 3453              13:30 - 14:00  266.32    -0.24  266.5608  267.680  265.36
 3454              14:00 - 14:30  267.28     0.96  266.3200  267.440  266.24
 3455              14:30 - 15:00  267.52     0.24  267.1600  267.520  267.00
 3456              15:00 - 15:30  267.04    -0.48  267.4600  267.768  266.96
 3457              15:30 - 16:00  267.04     0.00  266.9600  267.360  266.64

       Tick Count     Volume
 0      5659102.0  247401824
 1            NaN        NaN
 2         4153.0     214532
 3         3300.0     142334
 4         3308.0     125102
 ...          ...        ...
 3453      1606.0      78691
 3454       503.0      24069
 3455       267.0       9069
 3456       527.0      22969
 3457      3128.0     192033

 [3458 rows x 8 columns],
 'Jan 2013':                   Time Interval   Close  Net Chg    Open    High       Low  \
 0                       Summary  282.56    18.24  263.20  316.32  246.3200
 1     02JAN2013_00:00:00.000000     NaN      NaN     NaN     NaN       NaN
 2                 09:30 - 10:00  272.56     5.52  272.00  272.72  271.5576
 3                 10:00 - 10:30  272.48    -0.08  272.56  272.64  271.7600
 4                 10:30 - 11:00  271.76    -0.72  272.48  272.64  271.3200
 ...                         ...     ...      ...     ...     ...       ...
 3510              13:30 - 14:00  281.92    -0.56  282.48  282.56  281.9200
 3511              14:00 - 14:30  281.92     0.00  281.84  282.24  281.1200
 3512              14:30 - 15:00  282.16     0.24  281.84  282.24  281.7600
 3513              15:00 - 15:30  282.56     0.40  282.16  282.64  281.9200
 3514              15:30 - 16:00  282.56     0.00  282.56  282.72  282.0000

       Tick Count     Volume
 0      3092486.0  167512530
 1            NaN        NaN
 2         1723.0     113789
 3         1554.0      77507
 4         1713.0      77367
 ...          ...        ...
 3510       803.0      27044
 3511      2210.0      85938
 3512      1491.0      44085
 3513      1215.0      43382
 3514      2537.0     112239

 [3515 rows x 8 columns],
 'Jan 2014':                   Time Interval   Close  Net Chg     Open      High       Low  \
 0                       Summary  162.88  -119.68  277.520  315.4800  158.7208
 1     02JAN2014_00:00:00.000000     NaN      NaN      NaN       NaN       NaN
 2                 09:30 - 10:00  277.28    -5.28  277.520  277.6000  276.8000
 3                 10:00 - 10:30  276.00    -1.28  277.200  277.2008  275.7600
 4                 10:30 - 11:00  276.48     0.48  276.000  276.5592  276.0000
 ...                         ...     ...      ...      ...       ...       ...
 3509              13:30 - 14:00  160.00    -0.56  160.480  160.8800  159.9200
 3510              14:00 - 14:30  161.76     1.76  160.032  162.0000  158.7208
 3511              14:30 - 15:00  162.08     0.32  161.760  162.4000  161.5200
 3512              15:00 - 15:30  162.44     0.36  162.000  163.0400  162.0000
 3513              15:30 - 16:00  162.88     0.44  162.400  163.3200  162.2400

       Tick Count     Volume
 0      3224424.0  178818825
 1            NaN        NaN
 2         2185.0     191729
 3         1907.0      85472
 4          965.0      68071
 ...          ...        ...
 3509      1710.0     114933
 3510      5233.0     346971
 3511      2631.0     157476
 3512      3952.0     310194
 3513      5003.0     269612

 [3514 rows x 8 columns],
 'Jan 2015':                   Time Interval    Close  Net Chg    Open      High     Low  \
 0                       Summary   88.000  -74.880  159.76  172.0000   84.16
 1     02JAN2015_00:00:00.000000      NaN      NaN     NaN       NaN     NaN
 2                 09:30 - 10:00  159.680   -3.200  159.76  160.8000  159.60
 3                 10:00 - 10:30  159.680    0.000  159.76  159.8384  158.72
 4                 10:30 - 11:00  160.320    0.640  159.68  161.0400  159.12
 ...                         ...      ...      ...     ...       ...     ...
 3514              13:30 - 14:00   89.288   -0.072   89.44   89.4880   89.04
 3515              14:00 - 14:30   88.320   -0.968   89.36   89.5200   87.76
 3516              14:30 - 15:00   88.480    0.160   88.32   88.6800   88.16
 3517              15:00 - 15:30   88.160   -0.320   88.48   88.5600   88.12
 3518              15:30 - 16:00   88.000   -0.160   88.20   88.2400   87.92

       Tick Count     Volume
 0      9909114.0  820698785
 1            NaN        NaN
 2         4631.0     338394
 3         3007.0     171726
 4         2689.0     196706
 ...          ...        ...
 3514      1388.0      97687
 3515      4335.0     430274
 3516      2438.0     275877
 3517      2523.0     268365
 3518      4864.0     446816

 [3519 rows x 8 columns],
 'Jan 2016':                   Time Interval  Close  Net Chg     Open   High    Low  \
 0                       Summary  93.76     5.76  90.0800  99.60  61.36
 1     04JAN2016_00:00:00.000000    NaN      NaN      NaN    NaN    NaN
 2                 09:30 - 10:00  90.96     2.96  90.0800  91.36  89.68
 3                 10:00 - 10:30  90.16    -0.80  90.9600  91.28  90.08
 4                 10:30 - 11:00  88.08    -2.08  90.1784  90.24  88.00
 ...                         ...    ...      ...      ...    ...    ...
 3522              13:30 - 14:00  93.44     0.04  93.3600  93.52  93.36
 3523              14:00 - 14:30  93.68     0.24  93.4400  93.72  93.20
 3524              14:30 - 15:00  93.52    -0.16  93.6800  93.68  93.44
 3525              15:00 - 15:30  93.60     0.08  93.5200  93.68  93.44
 3526              15:30 - 16:00  93.76     0.16  93.6400  93.76  93.52

       Tick Count      Volume
 0      9084594.0  1121360429
 1            NaN         NaN
 2         5377.0      693909
 3         5151.0      430018
 4         6576.0      716241
 ...          ...         ...
 3522       624.0       55955
 3523      1457.0      220115
 3524       820.0       92568
 3525      1304.0      207652
 3526      2764.0      272268

 [3527 rows x 8 columns],
 'Jan 2017':                   Time Interval  Close  Net Chg   Open     High     Low  \
 0                       Summary  96.08     2.32  95.84  96.7200  69.200
 1     03JAN2017_00:00:00.000000    NaN      NaN    NaN      NaN     NaN
 2                 09:30 - 10:00  95.72     1.96  95.84  96.0000  95.560
 3                 10:00 - 10:30  95.68    -0.04  95.76  96.0000  95.448
 4                 10:30 - 11:00  94.48    -1.20  95.64  95.6800  94.480
 ...                         ...    ...      ...    ...      ...     ...
 3506              13:30 - 14:00  96.52     0.04  96.48  96.5600  96.328
 3507              14:00 - 14:30  96.48    -0.04  96.56  96.7200  96.480
 3508              14:30 - 15:00  96.36    -0.12  96.48  96.5496  96.240
 3509              15:00 - 15:30  96.36     0.00  96.36  96.4000  96.240
 3510              15:30 - 16:00  96.08    -0.28  96.36  96.4000  96.080

       Tick Count     Volume
 0      4446341.0  664155701
 1            NaN        NaN
 2         2410.0     451903
 3         1861.0     307753
 4         1608.0     163812
 ...          ...        ...
 3506       456.0      53640
 3507       515.0      46057
 3508       415.0      60110
 3509       633.0      60421
 3510      2305.0     257572

 [3511 rows x 8 columns],
 'Jan 2018':                   Time Interval    Close  Net Chg   Open     High      Low  \
 0                       Summary  77.2800 -18.8000  96.56  129.920  73.8400
 1     02JAN2018_00:00:00.000000      NaN      NaN    NaN      NaN      NaN
 2                 09:30 - 10:00  96.4000   0.3200  96.56   96.800  96.2312
 3                 10:00 - 10:30  96.3600  -0.0400  96.40   96.720  96.2400
 4                 10:30 - 11:00  96.4000   0.0400  96.40   96.480  96.1600
 ...                         ...      ...      ...    ...      ...      ...
 3502              13:30 - 14:00  76.7200   0.0040  76.68   76.908  76.0800
 3503              14:00 - 14:30  76.6408  -0.0792  76.72   76.920  75.8000
 3504              14:30 - 15:00  77.1200   0.4792  76.72   77.360  76.6800
 3505              15:00 - 15:30  77.4376   0.3176  77.12   77.640  77.1200
 3506              15:30 - 16:00  77.2800  -0.1576  77.40   77.600  77.2800

       Tick Count     Volume
 0      3758258.0  660972946
 1            NaN        NaN
 2         1053.0     190517
 3         1050.0     143194
 4          800.0      79208
 ...          ...        ...
 3502       926.0     301665
 3503      1303.0     280879
 3504       492.0      99166
 3505       525.0     106075
 3506      2299.0     574762

 [3507 rows x 8 columns],
 'Jan 2019':                   Time Interval   Close  Net Chg      Open    High       Low  \
 0                       Summary  102.48    25.20   75.3600  110.84   74.8800
 1     02JAN2019_00:00:00.000000     NaN      NaN       NaN     NaN       NaN
 2                 09:30 - 10:00   75.84    -1.44   75.3600   75.84   74.8800
 3                 10:00 - 10:30   79.12     3.28   75.8400   79.24   75.8400
 4                 10:30 - 11:00   79.04    -0.08   79.0400   79.36   78.6400
 ...                         ...     ...      ...       ...     ...       ...
 3501              13:30 - 14:00  102.84    -0.08  102.9600  103.04  102.8000
 3502              14:00 - 14:30  102.32    -0.52  102.8000  102.92  102.1600
 3503              14:30 - 15:00  102.32     0.00  102.4000  102.48  102.1656
 3504              15:00 - 15:30  102.48     0.16  102.2784  102.48  102.2400
 3505              15:30 - 16:00  102.48     0.00  102.4400  102.48  102.4000

       Tick Count     Volume
 0      3736081.0  736380458
 1            NaN        NaN
 2         1802.0     526116
 3         2637.0     801939
 4         1328.0     424426
 ...          ...        ...
 3501       414.0      46066
 3502       527.0     115004
 3503       505.0     158302
 3504       286.0      31249
 3505       867.0     108765

 [3506 rows x 8 columns],
 'Jan 2020':                   Time Interval   Close  Net Chg     Open     High     Low  \
 0                       Summary   33.01   -69.47  102.400  106.560   16.88
 1     02JAN2020_00:00:00.000000     NaN      NaN      NaN      NaN     NaN
 2                 09:30 - 10:00  102.48     0.00  102.400  102.668  102.24
 3                 10:00 - 10:30  102.08    -0.40  102.480  102.800  101.72
 4                 10:30 - 11:00  102.48     0.40  102.080  102.480  101.92
 ...                         ...     ...      ...      ...      ...     ...
 3534              13:30 - 14:00   32.85    -0.03   32.875   32.890   32.78
 3535              14:00 - 14:30   33.04     0.19   32.850   33.105   32.85
 3536              14:30 - 15:00   33.01    -0.03   33.040   33.070   32.99
 3537              15:00 - 15:30   33.02     0.01   33.010   33.020   32.99
 3538              15:30 - 16:00   33.01    -0.01   33.020   33.040   32.96

       Tick Count      Volume
 0      9523747.0  2102498458
 1            NaN         NaN
 2          730.0      188172
 3         1310.0      384063
 4          441.0      104182
 ...          ...         ...
 3534       811.0      287480
 3535      1880.0      639973
 3536       657.0      187316
 3537       496.0      128978
 3538      1490.0      497425

 [3539 rows x 8 columns],
 'Jan 2021':                   Time Interval   Close  Net Chg    Open     High      Low  \
 0                       Summary  54.360   21.350  33.000  58.6900  32.2400
 1     04JAN2021_00:00:00.000000     NaN      NaN     NaN      NaN      NaN
 2                 09:30 - 10:00  33.220    0.210  33.000  33.2700  32.9100
 3                 10:00 - 10:30  33.050   -0.170  33.220  33.2900  33.0100
 4                 10:30 - 11:00  32.565   -0.485  33.040  33.0555  32.3000
 ...                         ...     ...      ...     ...      ...      ...
 3522              13:30 - 14:00  54.220   -0.100  54.300  54.3000  54.1700
 3523              14:00 - 14:30  54.180   -0.040  54.200  54.3100  54.0400
 3524              14:30 - 15:00  54.300    0.120  54.200  54.3000  54.1600
 3525              15:00 - 15:30  54.360    0.060  54.305  54.3900  54.2973
 3526              15:30 - 16:00  54.360    0.000  54.355  54.4500  54.3300

       Tick Count      Volume
 0      4926151.0  1236492892
 1            NaN         NaN
 2         3432.0     1199830
 3         3020.0      967530
 4        12788.0     4283277
 ...          ...         ...
 3522       713.0      107986
 3523      1326.0      233937
 3524       635.0      111019
 3525       589.0       85941
 3526      1604.0      393349

 [3527 rows x 8 columns],
 'Jan 2022':                  Time Interval  Close  Net Chg   Open   High    Low  \
 0                      Summary  65.80    11.44  53.97  70.24  53.94
 1    03JAN2022_00:00:00.000000    NaN      NaN    NaN    NaN    NaN
 2                09:30 - 10:00  54.35    -0.01  53.97  54.44  53.94
 3                10:00 - 10:30  54.57     0.22  54.33  54.59  54.18
 4                10:30 - 11:00  54.63     0.06  54.57  54.72  54.50
 ..                         ...    ...      ...    ...    ...    ...
 528              13:30 - 14:00  65.11    -0.06  65.18  65.30  65.01
 529              14:00 - 14:30  65.31     0.20  65.11  65.50  65.08
 530              14:30 - 15:00  65.48     0.17  65.35  65.69  65.29
 531              15:00 - 15:30  65.73     0.25  65.48  65.76  65.47
 532              15:30 - 16:00  65.80     0.07  65.73  65.85  65.58

      Tick Count       Volume
 0      980141.0  202360977.0
 1           NaN          NaN
 2        3780.0     836131.0
 3        1885.0     360427.0
 4        1956.0     428924.0
 ..          ...          ...
 528      1994.0     458381.0
 529      2457.0     471463.0
 530      1336.0     293893.0
 531      1240.0     238147.0
 532      2487.0     506784.0

 [533 rows x 8 columns]}

In [23]:
def clean_date(sheet_dic):
    '''
    Takes in a sheet of the raw 30 minute interval data and returns a dataframe with only the start/end of day time intervals.
    '''
    
    combined_df = pd.DataFrame()
    for key in sheet_dic:
        combined_df = pd.concat([combined_df, sheet_dic[key]])

    date_df = combined_df.loc[combined_df['Close'].isna()]
    date = list(date_df['Time Interval'])
    
    dateobj = []
    for item in date:
        dateobj.append(datetime.datetime.strptime(item[:-16], "%d%b%Y"))
    
    dateseries = pd.Series(dateobj)
    dateseries.to_csv('datelist.csv')
    
    dateobj = np.repeat(dateobj,13)

    open_df = combined_df[combined_df['Close'].notna()]
    open_df = open_df[open_df['Time Interval'] != "Summary"] #Use this line if getting all time intervals
    
    open_df = open_df.reset_index()
    open_df['date'] = pd.Series(dateobj)
    
    # close_df = combined_df[combined_df['Time Interval'] == "15:30 - 16:00"]
    # close_df = close_df.reset_index()
    # close_df['date'] = pd.Series(date)
    
    # open_close_df = pd.concat([open_df, close_df],ignore_index=True)
    
    # #Fixing date column to datetime objects
    
    open_close_df = open_df #Use this line if getting all time intervals

    # datestr = open_close_df['date']
    # dateobj = []
    # for item in datestr:
    #     dateobj.append(datetime.datetime.strptime(item[:-16], "%d%b%Y"))
    # open_close_df['date'] = dateobj

    open_close_grp = open_close_df.groupby(['date'])
    
    
    return open_close_df

open_close_df = clean_date(prices_df) #returns grouped df
open_close_df.to_csv('USO_date_cleaned.csv')

# for key, item in open_close_df:
#     print(open_close_df.get_group(key), "\n\n")

In [18]:
open_close_df

,index,Time Interval,Close,Net Chg,Open,High,Low,Tick Count,Volume,date
0,2,09:30 - 10:00,315.84,10.96,313.92,316.56,313.92,4153.0,214532,2012-01-03
1,3,10:00 - 10:30,316.24,0.40,315.84,316.88,315.68,3300.0,142334,2012-01-03
2,4,10:30 - 11:00,315.76,-0.48,316.32,317.04,315.52,3308.0,125102,2012-01-03
3,5,11:00 - 11:30,314.48,-1.28,315.76,316.24,314.48,2321.0,78503,2012-01-03
4,6,11:30 - 12:00,315.44,0.96,314.48,315.68,314.16,2486.0,77054,2012-01-03
...,...,...,...,...,...,...,...,...,...,...
33088,528,13:30 - 14:00,65.11,-0.06,65.18,65.30,65.01,1994.0,458381.0,2022-02-16
33089,529,14:00 - 14:30,65.31,0.20,65.11,65.50,65.08,2457.0,471463.0,2022-02-16
33090,530,14:30 - 15:00,65.48,0.17,65.35,65.69,65.29,1336.0,293893.0,2022-02-16
33091,531,15:00 - 15:30,65.73,0.25,65.48,65.76,65.47,1240.0,238147.0,2022-02-16
33092,532,15:30 - 16:00,65.80,0.07,65.73,65.85,65.58,2487.0,506784.0,2022-02-16

In [20]:
date

NameError: name 'date' is not defined